django
django-cors-headers
djangorestframework
livekit
livekit-agents
livekit-api
livekit-plugins-openai
livekit-plugins-silero
livekit-protocol
django-environ
psycopg2-binary
sqlparse
livekit-agents[turn-detector]~=1.0
livekit-plugins-deepgram
python-dotenv
tensorflow